* {
  margin: 0px;
  padding: 0px;
  color: white;
  font-family: "Inter", sans-serif;
}

h1 {
  font-size: 2.5rem;
}

#news-letter {
  overflow-y: hidden;
}

button {
  cursor: pointer;
  margin-top: 16px;
  padding: 10px 15px;
  background-color: white;
  border: none;
  color: #101826;
  border-radius: 5px;
  font-weight: 600;
}

#email {
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid rgba(192, 192, 192, 0.162);
  background-color: rgba(255, 255, 255, 0.064);
  min-width: 290px;
  margin-right: 12px;
  backdrop-filter: blur(10px);
}

.subscribe {
  z-index: 10;
}

#news-letter p {
  max-width: 600px;
  line-height: 1.5;
  text-align: center;
  color: oklch(87.2% 0.01 258.338);
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.news-letter-container {
  background-color: #101826;
  height: 500px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  position: relative;
  border: 25px solid white;
  border-radius: 42px;
  overflow: hidden;
}

.purple {
  height: 355px;
  position: absolute;
  width: 50%;
  border-radius: 50%;
  bottom: -39%;
  left: 50%;
  background-color: #432a56;
  z-index: 5;
  filter: blur(66px);
  transform: translateX(-50%);
}
