/* write your css here */
* {
    margin: 0px;
    padding: 0px;
    font-family: "Inter", sans-serif;
}

#user-table {
    margin: 3rem;

}

table {
    width: 100%;
}

th {
    text-align: start;
}

tr:last-child {
    color: ;
}