/* write your css here */
* {
  margin: 0px;
  padding: 0px;
  font-family: "Inter", sans-serif;
}

body {
  display: flex;
  height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #f9fafb;
}

header img {
  height: 30px;
  width: 30px;
  margin-bottom: 9px;
}

header h1 {
  font-size: 1.728rem;
  color: #24292f;
}

header {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.form-input {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 100%;
  margin-bottom: 16px;
}

.form-container {
  background-color: white;
  width: 354px;
  padding: 2.5rem;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 18px;
}

label,
p {
  font-size: 0.833rem;
  font-weight: 500;
}

#mail,
#password {
  padding: 7px 14px;
  font-size: 0.95rem;
  border: 1px solid #d0d5dd;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px;
}

.form-extras {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  margin-top: 24px;
}

.remember-me-container {
  display: flex;
  align-items: center;
  gap: 4px;
}

.signin-btn {
  background-color: #4848e0;
  width: 100%;
  border-radius: 8px;
  border: none;
  padding: 10px 14px;
  color: white;
  margin-bottom: 30px;
}

a {
  text-decoration: none;
  color: #4848e0;
  font-weight: 500;
  font-size: 0.833rem;
}

.other-options {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-bottom: 30px;
}

hr {
  width: 30%;
  border-color: #ffffff52;
}

.social-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  border-radius: 5px;
  border: none;
  gap: 5px;
  padding: 7px 15px;
  color: white;
}

svg {
  height: 20px;
  width: 20px;
  fill: white;
  stroke: white;
}

.socials {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.twitter {
  background-color: #009bec;
}

.github {
  background-color: #24292f;
}

footer {
  margin-top: 30px;
  margin-bottom: 30px;

  color: #5d6773;
}

button:hover {
  opacity: 0.8;
  cursor: pointer;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 16px;
  height: 16px;
  border: 1px solid #d0d5dd;
  border-radius: 4px;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

input[type="checkbox"]:checked {
  background-color: #4848e0;
}

input[type="checkbox"]:checked::after {
  content: "";
  position: absolute;
  left: 4px;
  top: 0px;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
