/* write your css here */
* {
  font-family: "Inter", sans-serif;
  padding: 0px;
  margin: 0px;
  color: #212529;
}

img {
  width: 280px;
  height: 280px;
  border-radius: 12px;
  object-fit: cover;
}

#blog {
  margin: 3rem 5rem;
}
h1 {
  font-size: 2.488rem;
  font-weight: 700;
}

header {
  margin-bottom: 4rem;
}

.article {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  margin-bottom: 3rem;
}

.metadata {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.sub-heading {
  color: #6c757d;
  font-size: 1rem;
  line-height: 1.5;
  margin-top: 2.5px;
  margin-bottom: 25px;
}

.description {
  margin-bottom: 1rem;
  line-height: 1.432;
  color: #565e64;
}

.tag {
  background-color: #92959d11;
  padding: 3px 13px;
  color: #212529;
  border-radius: 12px;
}

.small {
  font-size: 0.833rem;
  color: #495057;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 0.75rem; /* controls vertical spacing */
  justify-content: space-between;
  padding-top: 4px;
}

.profile {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding-top: 1.32rem;
  border-top: 1px solid #e5e5e5;
}

.profile img {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  object-fit: cover;
}

hr {
  border: #ced4da52 1px solid;
  position: absolute;
  width: 100%;
  top: -20%;
}

h3 {
  font-weight: 600;
  margin-top: 4px;
}

.author-designation {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.small {
  font-size: 0.83rem;
  color: #6c757d;
}
